
  <div class="row">
    <div class="col-md-4">
      <mat-card class="mt-5">
        <mat-card-header>
            <mat-card-title>User Profile</mat-card-title>
            <img mat-card-avatar src="../../favicon.ico" alt="">
            
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <mat-list role="list">
            <mat-list-item role="listitem">Name: {{profile?.name}} </mat-list-item>
            <mat-list-item role="listitem">Email: {{profile?.email}}</mat-list-item>
            <mat-list-item role="listitem">Description: {{profile?.description}}</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    
    <div class="col-md-8">
        
    <app-post-details></app-post-details>
    </div>

  </div>
